
* {
    box-sizing: border-box;
   
    
}

p {margin: 0;}

body {
  

}

.gameboard_border {
    border: 10px solid rgba(0, 255, 81, 0.582);
    background-color: blue;
    width: 320px;
    height: 320px;

}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    background-color: rgb(255, 207, 118);
    border: 5px solid black;
    border-radius: 25px;
    padding: 20px;
    max-width: 70%;
    align-items: center;
    justify-content: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
}

.scores {
    width: 100px;
    height: 100px;
    margin: auto;  
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 255, 81, 0.582);

}

.scores > span {
    font-size: 4em;
}

.scores > p {
    font-size: 1.5em;
}

.player1score {
    background-color: blueviolet;
}

.player2score {
    background-color: brown;
}


.gametile {
    width: 100px;
    height: 100px;
    background-color: rgba(107, 107, 107, );
    border: 2px solid rgb(40, 186, 0);
    font-size: 3em;
    font-weight: bold;
    
}


.O {
    background-color: brown;
}

.X {
    background-color: blueviolet;
}

.winningTile {
    background-image: repeating-linear-gradient(
        45deg,            /* Angle of the stripes */
        rgb(36, 2, 255), /* Colour of the stripe (semi-transparent white) */
        rgba(82, 255, 2) 10px, /* End of the stripe */
        transparent 10px,        /* Start of the gap */
        transparent 20px         /* End of the gap */
    );
}