
* {
    box-sizing: border-box;
    
}

p {margin: 0;}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
}

.scores {
    width: 100px;
    height: 100px;
    margin: auto;  
    text-align: center;

}

.scores > span {
    font-size: 4em;
}

.scores > p {
    font-size: 1.5em;
}

.player1score {
    background-color: blueviolet;
}

.player2score {
    background-color: brown;
}


.gametile {
    width: 100px;
    height: 100px;
    background-color: rgba(179, 179, 179, 0.941);
    border: 2px solid rgb(40, 186, 0);
    font-size: 3em;
    font-weight: bold;
    
}


.O {
    background-color: brown;
}

.X {
    background-color: blueviolet;
}

.winningTile {
    background-image: repeating-linear-gradient(
        45deg,            /* Angle of the stripes */
        rgb(36, 2, 255), /* Colour of the stripe (semi-transparent white) */
        rgba(82, 255, 2) 10px, /* End of the stripe */
        transparent 10px,        /* Start of the gap */
        transparent 20px         /* End of the gap */
    );
}